body {
  font-size: 13px;
  font-family: Roboto, Arial;
  background-color: rgb(0, 46, 100);
  color: whitesmoke;
  margin: 0;
}

.about, .faq {
  margin: 30px 15px;
}

.content-name {
  font-size: 30px;
}

.qualities {
  padding: 30px 0px;
}

.page-navigation {
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-column-gap: 10px;
}

.pages {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.page-nom {
  background-color: burlywood;
  color: rgb(0, 39, 121);
  font-size: 22px;
  border-style: solid;
  border-width: 0px;
  border-radius: 8px;
  padding: 8px 2px;
}

.navigation {
  width: 24px;
}

.payment-div {
  display: grid;
  grid-template-rows: 1fr;
}

.payment-methods {
  border-width: 0;
  border-style: solid;
  padding: 30px 25px;
  background-color: rgb(0, 35, 70);
  right: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  align-items: center;
}

img {
  width: 70px;
}

.cit-logo {
  margin: 20px 0px 5px 0px;
}

.logo {
  width: 170px;
}

.active {
  color: burlywood;
}

.dash-button {
  height: 5px;
  width: 60px;
  padding: 0px;
  border: none;
  border-radius: 3px;
  margin: 0px;
  background-color: burlywood;
}

.feedback-button {
  margin-top: 35px;
  font-size: 16px;
  background-color: burlywood;
  color: darkblue;
  font-weight: 700;
  border: none;
  border-width: 0px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px 25px;
  margin-bottom: 35px;
}

.cit-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.links {
  display: grid;
  height: 50px;
 grid-template-columns: 10px 1fr;
}

.nom {
  color: 10AAF0;
}


.link-name {
  margin: 0;
  padding-bottom: 0px;
  font-size: 12px;
  font-weight: 600;
  
}

.link-subname {
  font-size: 9px;
  margin: 0;
}
